
import java.io.Serializable;
import java.util.Date;
import lombok.Data;


@Data
public class ${className}Model implements Serializable {

    private static final long serialVersionUID = 1L;

    #foreach ($column in $columns)

    /**
     * $column.propertyName
     */
    private $column.propertyType $column.propertyKey;

    #end
}