<!DOCTYPE html>
<html lang="en"  xmlns:th="http://www.thymeleaf.org">
<head>
    <base th:href="${#request.getContextPath()}+'/'">
    <!-- CSS INCLUDE -->
    <link rel="stylesheet" type="text/css" id="theme" th:href="@{/css/theme-default.css}"/>
    <!-- EOF CSS INCLUDE -->
    <head th:replace="/common/head :: head"></head>

</head>
<body>
<!-- START PAGE CONTAINER -->
<div class="page-container">

    <!-- START PAGE SIDEBAR -->
    <div class="page-sidebar">

        <div th:replace="/common/left :: left"></div>
        <!-- END X-NAVIGATION -->
    </div>
    <!-- END PAGE SIDEBAR -->

    <!-- PAGE CONTENT -->
    <div class="page-content">

        <div th:replace="/common/top :: top"/>

        <!-- START BREADCRUMB -->
        <!--<ul class="breadcrumb">
            <li><a href="#">Home</a></li>
            <li><a href="#">菜单管理</a></li>
            <li class="active">菜单列表</li>
        </ul>-->
        <!-- END BREADCRUMB -->

        <!-- PAGE CONTENT WRAPPER -->
        <div class="page-content-wrap">


            <div class="row">
                <div class="col-md-12">

                    <!-- START DATATABLE EXPORT -->
                    <div class="panel panel-default">
                        <div class="panel-heading">
                            <h3 class="panel-title">菜单列表</h3>
                            <div class="pull-right">
                            </div>
                        </div>
                        <div class="panel-heading" style="float: right;">
                            <div class="btn-group">
                                <button type="button" class="btn btn-success addProject dropdown-toggle btn-condensed"
                                        onclick="">
                                    <span class="glyphicon glyphicon-plus"></span>新增
                                </button>
                            </div>
                        </div>
                        <div class="panel-body">
                            <div class="table-responsive">
                                <table id="dataTables-userInfo" class="table table-bordered">
                                    <thead>
                                    <tr>
                                        <th width="5%">ID</th>
                                        <th width="8%">菜单级别</th>
                                        <th width="10%">菜单名称</th>
                                        <th width="10%">菜单地址</th>
                                        <th width="8%">优先级</th>
                                        <th width="10%">父菜单</th>
                                        <th width="10%">权限code</th>
                                        <th width="15%">创建时间</th>
                                        <th width="20%">操作</th>
                                    </tr>
                                    </thead>
                                </table>
                            </div>
                        </div>
                    </div>
                    <!-- END DATATABLE EXPORT -->

                </div>
            </div>

        </div>
        <!-- END PAGE CONTENT WRAPPER -->
    </div>
    <!-- END PAGE CONTENT -->
</div>
<!-- END PAGE CONTAINER -->

<div class="modal fade" id="userInfoDelModal" tabindex="-1" role="dialog"
     aria-labelledby="userInfoDelModalLabel"
     aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
                <h4 class="modal-title" id="userInfoDelModalLabel">删除认证</h4>
            </div>
            <div class="modal-body">
                <input id="userInfoId" type="hidden">
                确定要删除这个环境信息么？
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal"><i class="glyphicon glyphicon-ban-circle"></i>取消</button>
                <button type="button" class="btn btn-primary" onclick="userInfoDel()"><i class="glyphicon glyphicon-trash"></i>删除</button>
            </div>
        </div>
    </div>
</div>

<div class="modal fade" id="userInfoEditModal" tabindex="-1" role="dialog"
     aria-labelledby="userInfoAddModalLabel"
     aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
                <h4 class="modal-title" id="">编辑</h4>
            </div>
            <div class="modal-body">
                <form id="userInfoEditForm">
                    <input  type="hidden" name="id" id="editId"/>
                    菜单名称：<input name="menuName" class="form-control" maxlength="16" minlength="2" placeholder="菜单名称" type="text"
                                id="editMenuName" aria-required="true"/>
                    菜单url：<input name="menuUrl" class="form-control" maxlength="255" placeholder="菜单url" type="text"
                                 id="editMenuUrl" aria-required="true"/>
                    显示优先级：<input name="priority" class="form-control" maxlength="255" placeholder="显示优先级" type="text"
                                 id="editPriority" aria-required="true"/>
                    权限code：<input name="code" class="form-control" maxlength="64" placeholder="权限code" type="text"
                                 id="editCode" aria-required="true"/>
                    菜单级别:
                    <select name="menuLevel" class="form-control" id="editMenuLevel" aria-required="true">
                        <option value="1">一级菜单</option>
                        <option value="2">二级菜单</option>
                        <option value="3">按钮</option>
                    </select>
                    父级菜单:
                    <select name="parentMenuId" class="form-control" id="editParentMenuId" aria-required="true">

                    </select>
                    <input type="reset" name="addReset" style="display: none;"/>
                </form>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal"><i class="glyphicon glyphicon-ban-circle"></i>取消</button>
                <button type="button" class="btn btn-primary" onclick="userInfoEdit()"><i class="glyphicon glyphicon-ok-circle"></i>确认</button>
            </div>
        </div>
    </div>
</div>


<div class="modal fade" id="userInfoAddModal" tabindex="-1" role="dialog"
     aria-labelledby="userInfoAddModalLabel"
     aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
                <h4 class="modal-title" id="userInfoAddModalLabel">新增项目</h4>
            </div>
            <div class="modal-body">
                <form id="userInfoAddForm">
                    菜单名称：<input name="menuName" class="form-control" maxlength="16" minlength="2" placeholder="菜单名称" type="text"
                                id="menuName" aria-required="true"/>
                    菜单url：<input name="menuUrl" class="form-control" maxlength="255" placeholder="菜单url" type="text"
                                id="menuUrl" aria-required="true"/>
                    显示优先级：<input name="priority" class="form-control" maxlength="255" placeholder="显示优先级" type="text"
                                 id="priority" aria-required="true"/>
                    权限code：<input name="code" class="form-control" maxlength="64" placeholder="权限code" type="text"
                                  id="code" aria-required="true"/>
                    菜单级别:
                    <select name="menuLevel" class="form-control" id="menuLevel" aria-required="true">
                        <option value="1">一级菜单</option>
                        <option value="2">二级菜单</option>
                        <option value="3">按钮</option>
                    </select>
                    父级菜单:
                    <select name="parentMenuId" class="form-control" id="parentMenuId" aria-required="true">

                    </select>
                    <input type="reset" name="addReset" style="display: none;"/>
                </form>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal"><i class="glyphicon glyphicon-ban-circle"></i>取消</button>
                <button type="button" class="btn btn-primary" onclick="userInfoAdd()"><i class="glyphicon glyphicon-ok-circle"></i>确认</button>
            </div>
        </div>
    </div>
</div>

    <div th:replace="/common/footer :: footer"/>

<script type="text/javascript" th:src="@{/js/admin/menu.js}"></script>
</body>
</html>






