<html lang="en"  xmlns:th="http://www.thymeleaf.org">
<div th:fragment="diff" >




    <div class="modal fade" id="diffModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true" data-backdrop='static'

    >
        <div class="modal-dialog" style="width:800px;min-width: 550px;max-width: 900px;">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">&times;</span><span class="sr-only">Close</span></button>
                    <h4 class="modal-title" id="myModalLabel">diff</h4>
                </div>
                <div class="modal-body" >

                    <div id="editDiff">

                    </div>


                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-default cancelDiff" >Cancel</button>
                    <button type="button" class="btn btn-primary" onclick="edit()">Save</button>
                </div>
            </div>
        </div>
    </div>


</div>