<html lang="en"  xmlns:th="http://www.thymeleaf.org">
<div th:fragment="systemEditView" >
<div class="modal fade" id="editModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true" data-backdrop='static'

    >
    <div class="modal-dialog" style="width:800px;min-width: 550px;max-width: 900px;">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">&times;</span><span class="sr-only">Close</span></button>
                <h4 class="modal-title" id="myModalLabel">编辑</h4>
            </div>
            <div class="modal-body" style="padding-top: 10px;padding-bottom: 0px;">

                <form class="form-horizontal" role="form" id="editForm">
                    <input type="hidden" id="id" name="id" />
                    <input type="hidden" id="nowUpdateDate" name="nowUpdateDate"  />
                    <div class="form-group">
                        <label for="editFileName" class="col-control-left control-label">文件名称</label>
                        <div class="col-control-right">
                            <input type="text" class="form-control" id="editFileName" name="fileName" placeholder="请输入文件名称">
                        </div>
                    </div>
                    <div class="form-group">
                        <label for="editFileDesc" class="col-control-left control-label">文件描述</label>
                        <div class="col-control-right">
                            <textarea class="form-control" id="editFileDesc" name="fileDesc" rows="3" placeholder="请输入文件描述"></textarea>
                        </div>
                    </div>
                    <div class="form-group">
                        <label  class="col-control-left control-label">文件类型</label>
                        <input type="hidden" id="editJson" name="json" />
                        <!--<div class="col-control-right">
                            <div style="width: 100px;float: left;line-height: 34px;">
                                <input type="radio" style="min-height: 34px" class="radio editFileType" disabled name="fileType" onchange="editChangeMode('textile')" mode="textile" value="text" />
                                <span style="line-height: 25px;">TEXT</span>
                            </div>
                            <div style="width: 120px;float: left;line-height: 34px;">
                                <input type="radio" style="min-height: 34px"  class="radio editFileType" disabled name="fileType" onchange="editChangeMode('properties')" mode="properties"   value="properties" />
                                <span style="line-height: 25px;">PROPERTIES</span>
                            </div>
                            <div style="width: 120px;float: left;line-height: 34px;">
                                <input type="radio" style="min-height: 34px"  class="radio editFileType" disabled name="fileType" onchange="editChangeMode('yaml')" mode="yaml"  value="yaml" />
                                <span style="line-height: 25px;">YAML</span>
                            </div>
                        </div>-->
                        <div class="col-control-right">

                            <div style="width: 120px;float: left;" onclick="editChangeMode('properties')">
                                <div style="float: left;padding-top: 7px;">
                                    <label><input  type="radio"  class="editFileType" name="fileType" onchange="editChangeMode('properties')"  mode="properties"  value="properties" />PROPERTIES </label>
                                </div>
                            </div>
                            <div style="width: 120px;float: left;" onclick="editChangeMode('yaml')">
                                <div style="float: left;padding-top: 7px;">
                                    <label><input  type="radio"  class="editFileType"  name="fileType" onchange="editChangeMode('yaml')" mode="yaml"  value="yaml"/>YAML </label>
                                </div>
                            </div>
                            <div style="width: 120px;float: left;" onclick="editChangeMode('textile')">
                                <div style="float: left;padding-top: 7px;">
                                    <label><input type="radio"  class="editFileType" name="fileType" onchange="editChangeMode('textile')" mode="textile" value="text"  />TEXT </label>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="form-group">
                        <label for="editContent" class="col-control-left control-label">配置内容</label>
                        <div class="col-control-right">
                            <textarea class="form-control" id="editContent" rows="3"></textarea>
                        </div>
                    </div>
                    <input type="reset" name="editReset" style="display: none;"/>
                </form>


            </div>
            <div class="modal-footer" style="    margin-top:0px;">
                <button type="button" class="btn btn-default" data-dismiss="modal"><span class="glyphicon glyphicon-off"></span>Close</button>
                <button type="button" class="btn btn-default systemConfigDiff" data-dismiss="modal"><span class="glyphicon glyphicon-eye-open"></span>diff</button>
                <button type="button" class="btn btn-primary saveEditSystemConfig"><span class="glyphicon glyphicon-ok"></span>Save</button>
            </div>
        </div>
    </div>
</div>
</div>