<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01 Transitional//EN"
        "http://www.w3.org/TR/html4/loose.dtd">
<html lang="en"  xmlns:th="http://www.thymeleaf.org">
<div th:fragment="footer">

    <!-- START SCRIPTS -->
    <!-- START PLUGINS -->
    <script type="text/javascript" th:src="@{/js/plugins/jquery/jquery.min.js}"></script>
    <script type="text/javascript" th:src="@{/js/plugins/jquery/jquery-ui.min.js}"></script>
    <script type="text/javascript" th:src="@{/js/plugins/bootstrap/bootstrap.min.js}"></script>
    <script type="text/javascript" th:src="@{/js/plugins/metisMenu/metisMenu.min.js}"></script>
    <script type="text/javascript" th:src="@{/js/plugins/momentjs/momentjs.js}"></script>
    <!-- END PLUGINS -->
    <script type="text/javascript" th:src="@{/js/plugins/datatables/jquery.dataTables.min.js}"></script>
    <!-- END THIS PAGE PLUGINS-->
    <script type="text/javascript" th:src="@{/js/plugins/icheck/icheck.min.js}"></script>
    <script type="text/javascript" th:src="@{/js/plugins/mcustomscrollbar/jquery.mCustomScrollbar.min.js}"></script>
    <script type="text/javascript" th:src="@{/js/select2.min.js}"></script>
    <script type="text/javascript" th:src="@{/js/plugins/laydate/laydate.js}"></script>
    <!-- START TEMPLATE -->
    <script type="text/javascript" th:src="@{/js/self/common.js}"></script>
    <script type="text/javascript" th:src="@{/js/plugins.js}"></script>
    <!-- END TEMPLATE -->
    <script type="text/javascript" th:src="@{/js/settings.js}"></script>
    <script type="text/javascript" th:src="@{/js/actions.js}"></script>

</div>