<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.github.fashionbrot.dao.mapper.PropertyMapper">


    <resultMap type="com.github.fashionbrot.dao.entity.PropertyEntity" id="propertyMap">
            <result property="id" column="id"/>
            <result property="propertyName" column="property_name"/>
            <result property="propertyKey" column="property_key"/>
            <result property="propertyType" column="property_type"/>
            <result property="labelType" column="label_type"/>
            <result property="labelValue" column="label_value"/>
            <result property="appName" column="app_name"/>
            <result property="variableKey" column="variable_key"/>
            <result property="templateKey" column="template_key"/>
            <result property="attributeType" column="attribute_type"/>
            <result property="createId" column="create_id"/>
            <result property="createDate" column="create_date"/>
    </resultMap>


    <sql id="allSql">
        id,property_name,property_key,property_type,label_type,label_value,app_name,variable_key,template_key,attribute_type,create_id,create_date
    </sql>

    

</mapper>